<div class="login-container">
  <div class="logo">
    Login
  </div>
  <p>Please enter your details</p>
  <h2>Welcome back</h2>

  <form>
    <div class="form-group">
      <input type="email" placeholder="Email address">
    </div>
    <div class="form-group">
      <input type="password" placeholder="Password">
    </div>
    <div class="form-options">
      <label><input type="checkbox"> Remember me!!</label>
      <a href="#">Forgot password</a>
    </div>
    <button type="submit" class="btn">Sign up</button>
  </form>

  <div class="google-btn">
    <img src="login\src\images\google.pngs" alt="Google">
    Sign in with Google
  </div>

  <div class="signup-text">
    Don’t have an account? <a href="#">Sign up</a>
  </div>
</div>
